@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100%;
  overflow-x: hidden;
}

.error {
  color: rgb(203, 4, 4);
  padding-bottom: 4px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-family: 'Courgette', cursive;
}

button {
  cursor: pointer;
}


/* homepage */
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  position: relative;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
}

.logo-div {
  padding-left: 2.5rem;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
}

.logo-div h1 {
  font-size: 30px;
  font-family: 'Courgette', cursive;
  color: #070808;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.logo-div p {
  margin-top: 8px;
  color: #262626;
}

.button-div {
  justify-self: end;
  position: relative;
}

.button {
  position: absolute;
  top: 24px;
  right: 40px;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 24px;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  border: 2px solid white;
}

.button:hover {
  position: absolute;
  top: 24px;
  right: 40px;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 24px;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  background-color: #AE445A;
  color: #fff;
}

.curved-gradient {
  justify-self: end;
  background-image: linear-gradient(#662549, #F39F5A, #AE445A);
  width: 300px;
  height: 93px;
  border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
  position: absolute;
  right: 0;
  top: 0px;
}


/* General */
.image-input-div {
  background-color: #fff;
  border-radius: 8px;
  break-inside: avoid;
  height: fit-content;
  width: 500%;
  border: 2px solid black;
  padding: 14px;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 4px;
}

.tag-input {
  margin-top: 14px;
  border: none;
  font-size: 16px;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
  border: 2px dashed rgb(184, 184, 184);
  max-width: 100%;
}

.image-wrapper {
  margin-top: 100px;
  width: 100%
}

.drag-and-drop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.drag-span {
  display: block;
  margin-left: 0.5rem;
}

.select-btn {
  padding: 12px 16px;
  margin-left: 0.5rem;
  border-radius: 24px;
  font-size: 15px;
  outline: none;
  border: none;
}

.select-btn:hover {
  padding: 12px 16px;
  margin-left: 0.5rem;
  border-radius: 24px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: #AE445A;
  color: white;
}

.not-found {
  padding: 40px;
  margin-top: 40px;
  background-color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* drop section */
.input {
  margin-left: 40px;
  margin-top: 40px;
  width: 30%;
  padding: 14px 6px;
  outline: none;
  border: none;
  width: 24rem;
  border-radius: 8px;
  border: 2px solid rgb(182, 182, 182);
}

.input:focus {
  margin-left: 40px;
  margin-top: 40px;
  width: 30%;
  padding: 14px 6px;
  outline: none;
  border: none;
  width: 24rem;
  border-radius: 8px;
  border: 2px solid black;
}

.image-container {
  background-color: #f09952;
}

.image-masonry-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  column-gap: 20px;
  padding: 20px 40px;
}

.image-masonry-grid_column {
  background-clip: padding-box;
}

.trash-tag-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.trash {
  color: grey;
  cursor: pointer;
}

.trash:hover {
  color: #AE445A;
}

/* dummy section */
.my-masonry-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  column-gap: 20px;
  padding: 20px 40px;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.dummy-input {
  padding: 14px 6px;
  outline: none;
  border: none;
  width: 24rem;
  border-radius: 8px;
  margin-left: 40px;
  margin-top: 40px;
}

.dummy-input:focus {
  margin-left: 40px;
  margin-top: 40px;
  width: 30%;
  padding: 14px 6px;
  outline: none;
  border: none;
  width: 24rem;
  border-radius: 8px;
  border: 2px solid black;
}

.dummy-container {
  background-color: #f09952;
  /* background-color: #662549; */
  width: 100vw
}

/* login and signup */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  background-color: #E8BCB9;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-image: linear-gradient(#662549, #F39F5A, #AE445A);
}

.login-logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.login-logo p {
  font-family: 'Courgette', cursive;
  font-size: 20px;
  color: #fff;
}

.right {
  height: fit-content;
  padding: 30px;
}

.header-text {
  padding: 40px 0;
}

.header-text h2 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  color: #1D1A39;
  font-weight: 800;
  width: 100%;
}

.header-text p {
  margin-top: 8px;
  color: #3a3a3a;
}

.email-div {
  margin-bottom: 12px;
}

.email-div p {
  margin-bottom: 4px;
}

.email-div input {
  width: 100%;
  padding: 10px 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  border: 1px solid rgb(182, 182, 182);
}

.email-div input::placeholder {
  font-size: 12px;
}

.password-div input::placeholder {
  font-size: 12px;
}

.password-div p {
  margin-bottom: 4px;
}

.password-div input {
  width: 100%;
  padding: 10px 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  border: 1px solid rgb(182, 182, 182);
}

.btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-btn {
  margin-top: 28px;
  width: 100%;
  padding: 12px 24px;
  border: none;
  outline: none;
  background-color: #662549;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.btn-div p {
  font-size: 14px;
  margin-top: 10px;
}

.btn-div p>a {
  color: #662549;
  text-decoration: none;
  font-weight: bold;
}

.loading-skeleton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 120px;
}

.skeleton-item {
  width: 100px;
  height: 100px;
  background-color: #edc7a5;
  border-radius: 4px;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}



@media screen and (max-width: 1024px) {
  .my-masonry-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .image-masonry-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .my-masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .wrapper {
    width: 80%;
    background-color: #E8BCB9;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 580px) {
  .my-masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper {
    width: 70%;
    background-color: #E8BCB9;
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-decor {
    display: block;
    padding-left: 30px;
    
  }

  .header-text h2 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color: #1D1A39;
    font-weight: 800;
    width: 100%;
  }

  .logo-div h1 {
    font-size: 30px;
    font-family: 'Courgette', cursive;
    color: #070808;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  .curved-gradient {
    width: 220px;
    height: 98px;
  }

  .logo-div {
    padding-bottom: 0.5rem;
  }

  .button {
    position: absolute;
    top: 26px;
    right: 40px;
    padding: 10px 24px;
  }

  .button:hover {
    position: absolute;
    top: 26px;
    right: 40px;
    padding: 12px 24px;
  }

  .input {
    width: 60%;
  }

  .input:focus {
    width: 60%;
  }

  .dummy-input {
    width: 60%;
  }

  .dummy-input:focus {
    width: 60%;
  }

}

@media screen and (max-width: 480px) {
  .my-masonry-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-masonry-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .curved-gradient {
    width: 190px;
    height: 80px;
  }

  .logo-div h1 {
    font-size: 20px;

  }

  .logo-div {
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
  }

  .button {
    right: 20px;
    top: 22px
  }

  .button:hover {
    right: 20px;
  }

  .drag-span {
    display: none;
  }

  .logo-div p {
    margin-top: 8px;
    color: #262626;
    font-size: 12px;
  }

  .input {
    margin-left: 20px;
  }

  .input:focus {
    margin-left: 20px;
  }

  .dummy-input {
    margin-left: 20px;
  }

  .dummy-input:focus {
    margin-left: 20px;
  }

  .my-masonry-grid {
    padding: 20px 20px;
  }

  .image-masonry-grid {
    padding: 20px 20px;
  }
  .image-wrapper {
    margin-top: 84px;
  }
  .btn-div p {
    font-size: 12px;
    margin-top: 10px;
  }

}